## -*- coding: utf-8 -*-

<%inherit file="base.html"/>
<%page args="strings, langs, rtl=False, lang='en', langOverride=False, **kwargs"/>

<br />

<div class="container-fluid container-fluid-outer-96">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">${_(strings.HOWTO_TBB[0])}</h3>
    </div>
    <br />

    <div class="container-fluid" id="howto">
      <p>
        ${_(strings.HOWTO_TBB[1]) % \
           ("""<a href="https://www.torproject.org/download/"
                  target="_blank">""",
            """</a>""",
            """<a href="https://tb-manual.torproject.org/bridges/#entering-bridge-addresses"
                  target="_blank">""",
            """</a>""",
            """<a href="https://tb-manual.torproject.org/mobile-tor/#circumvention"
                  target="_blank">""",
            """</a>""")}
      </p>
    </div>
  </div>
</div>
